input.date.form-control, td.date {
  width: 10em
}

input.start.form-control {
  width: 5em
}

input.project.form-control, input.task.form-control, td.project, td.task {
  width: 12em
}

td.minutes {
  width: 4em
}

div.row.page-header {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 1em
}
